@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    margin-right: 30px;
}

a.active, a:focus {
    border-top: 2px solid orange;
    border-right: 3px solid crimson;
    box-shadow: 0px 3px 0px rgb(41, 124, 196, 0.7);
    letter-spacing: 1.5px;
}